/* GLOBAL */
:root {
  --body-bg: #fafafa;
  --element-bg: #fff;
  --text-color: #111517;
  --transition-duration: 0.4s;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--body-bg);
  color: var(--text-color);
  transition: background-color var(--transition-duration) ease,
   color var(--transition-duration) ease;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* DARK-MODE */
.dark-mode {
  --body-bg: #202c36;
  --element-bg: #2b3844;
  --text-color: #fff;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--element-bg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-logo {
  font-size: 24px;
  line-height: normal;
  font-weight: 800;
  color: var(--text-color);
}

.site-header-logo:hover {
  opacity: 0.8;
}

.site-header-logo:hover {
  opacity: 0.6;
}

.site-header-theme-toggler {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.site-header-theme-toggler:hover {
  opacity: 0.8;
}

.site-header-theme-toggler:active {
  opacity: 0.6;
}

.site-header-theme-toggler-inner {
  display: flex;
  align-items: center;
}

.site-header-theme-toggler-text {
  margin-left: 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: var(--text-color);
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}

.main-content-inner {
  padding-top: 80px;
}


/* FILTERS */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.filters-search-wrapper {
  position: relative;
}

.filters-search-icon {
  position: absolute;
  top: 19px;
  left: 32px;
  color: var(--text-color);
  pointer-events: none;
}

.filters-search-input {
  min-width: 480px;
  padding: 18px 74px;
  border: 0;
  border-radius: 5px;
  background-color: var(--element-bg);
  color: var(--text-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
}

.filters-region-select {
  min-width: 200px;
  padding: 18px 24px;
  border: 0;
  border-radius: 5px;
  background-color: var(--element-bg);
  color: var(--text-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
}


/* INDEX-COUNTRIES */
.index-countries-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: -75px;
  margin-bottom: -75px;
  list-style: none;
}

.index-countries-item {
  width: calc(25% - 75px);
  height: 336px;
  margin-left: 75px;
  margin-bottom: 75px;
  border: 0;
  border-radius: 5px;
}


/* INDEX-COUNTRY */
.index-country {
  border-radius: 7px;
  overflow: hidden;
  background-color: var(--element-bg);
  color: var(--text-color);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}

.index-country-flag {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.index-country-info {
  padding: 24px 24px 48px;
  margin: 0;
}

.index-country-name {
  margin-top: 0;
  margin-bottom: 16px;
}

.index-country-link {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: var(--text-color);
}

.index-country-link:hover {
  opacity: 0.8;
}

.index-country-link:hover {
  opacity: 0.6;
}

.index-country-detials {
  margin: 0;
}

.index-country-detials-item {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.index-country-detials-item:not(:last-child) {
  margin-bottom: 8px;
}

.index-country-detials-title {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.index-country-detials-value {
  margin-left: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}


/* COUNTRY.HTML */
/* COUNTRY-PAGE */
.country-page-back-wrapper {
  margin-bottom: 80px;
}

.country-page-back-link {
  padding: 10px 40px;
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  background-color: var(--element-bg);
  color: var(--text-color);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}

.country-page-back-link:hover {
  opacity: 0.8;
}

.country-page-back-link:active {
  opacity: 0.6;
}

.country-page-back-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.country-page-back-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}


/* COUNTRY-PAGE-FLAG-INFO */
.country-page-flag-info {
  display: flex;
}

.country-page-flag {
  width: 560px;
  height: 400px;
  margin-right: 120px;
  object-fit: cover;
  border-radius: 11px;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.1);
}


/* COUNTRY-PAGE-INFO */
.country-page-info {
  width: 600px;
  padding-top: 40px;
}

.country-page-title {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 800;
  color: var(--text-color);
}

.country-page-dls-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
}

.country-page-detials {
  width: 250px;
  margin: 0;
}

.country-page-detials-item {
  margin: 0;
  display: flex;
}

.country-page-detials-title {
  margin-top: 0;
  margin-right: 5px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: var(--text-color);
}

.country-page-detials-value {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: var(--text-color);
}

.country-page-border-countries {
  display: flex;
  align-items: center;
}

.country-page-border-countries-heading {
  display: flex;
  margin: 0;
  margin-right: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--text-color);
}

.country-page-border-countries-list {
  display: flex;
  flex-wrap: wrap;
}

.country-page-border-countries-link {
  min-width: 96px;
  padding: 5px 28px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  background-color: var(--element-bg);
  color: var(--text-color);
  text-align: center;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.105);
  transition: background-color var(--transition-duration) ease,
   color var(--transition-duration) ease;
}

.country-page-border-countries-link:not(:last-child) {
  margin-right: 10px;
}

.country-page-border-countries-link:hover {
  opacity: 0.8;
}

.country-page-border-countries-link:active {
  opacity: 0.6;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
